{% extends 'base.html' %}
{% block title %}Notes {% if note.title %}| {{ note.title }}{% endif %}{% endblock title %}

{% block content %}
	<form action="{% url 'delete' note.id %}" method="post">
		<div class="panel panel-default">
			<div class="panel panel-heading">
				{% csrf_token %}
				<input type="text" class="form-control clear-focus-highlight" id="txtNewTitle" name="title" placeholder="Add title" value="{{ note.title }}" readonly="readonly">
			</div>
			<div class="panel-body">	
				<textarea type="text" class="form-control clear-focus-highlight" id="txtNewNote" name="note" rows="10em" readonly="readonly" placeholder="Take a note">{{ note.note }}</textarea>
			</div>
			<div class="panel-footer">
				<input type="submit" class="btn btn-danger btn-raised btn-sm" value="Delete">
				<a class="btn btn-default btn-raised btn-sm" href="#">Cancel</a>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p><a class="btn btn-raised btn-primary btn-xs" href="{% url 'index' %}">Back</a></p>
		</div>
	</div>

{% endblock content %}